################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVCCore/MVCCore/.vs/MVCCore/v15
/MVCCore/Projects/.vs/MVCCore/v15
